<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv8 Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>YOLOv8 Object Detection</h1>
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*">
        <input type="submit" value="Upload">
    </form>
    {% if output_video %}
        <video width="640" height="480" controls>
            <source src="{{ output_video }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% endif %}
</body>
</html>
